footer{
    width: 100%;
    background-color: #272727;
    color: white;
    /* text-align: center; */
    padding: 25px;
    border-top-left-radius: 125px;
    position: relative;
    bottom: 0px;
} .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    /* flex-basis: 20%; */
    padding: 10px;
}
.logo1{
    width: 150px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    color: blue;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
    text-decoration: none;
}

.col1 li{
    list-style: none;
    margin-bottom: 12px;

}
.col1 li a{
    text-decoration: none;
    color: white;
}
.col1 li :hover{
    color: #112fda;
    /* font-size: 20px; */
}
/* footer */
.fa {
    padding: 5px;
    font-size: 30px;
    width: 40px;
    background-size: auto;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    margin: 6px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #f107ca;
    color: rgb(255, 255, 255);
  }
  
