    <!-- footer -->

    <footer id="contact">
        <div class="row">
            <div class="col-4">
                <img src="https://img.icons8.com/external-xnimrodx-blue-xnimrodx/344/external-home-real-estate-xnimrodx-blue-xnimrodx-2.png" class="logo1">
                <p>Launched in 2006, Magicbricks is India's No.1 online Property marketplace to buy, sell, and rent residential and commercial properties. Adjudged as the most preferred real estate portal in India by various independent surveys.
                </p>
            </div>
            <div class="col-3">
                <h3>Office</h3>
                <p>Pellhar Road</p>
                <p>Nallsopara Mumbai</p>
                <p>Maharashtra, PIN - 401209 , India</p>
                <p class="email-id"><a href="mailto:sg945133@gmail.com">sg945133@gmail.com</a> </p>
                <h4><a href="tel:+91-9876543210">+91-9876543210</a></h4>
            </div>
            <div class="col-4">

                <ul class="col1">
                    <h3 >Company</h3>
                    <li><a href="C:\Users\shubham\Desktop\LiveWere\amazon\project\main.html">Home</a></li>
                    <li><a href="#servise">Services</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Features</a></li>
                    <li><a href="#contact">Contect us</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms </a></li>

                </ul>
            </div>
            <div class="col-1">
                <h3 style="text-align: center;">Follow</h3>
                <div class="social" > 
                    <!-- Add font awesome icons -->
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-youtube"></a>
                    <a href="#" class="fa fa-instagram"></a>
            </div>

            </div>
            

        </div>
        <div style="display: flex;">
            

               
        </div>
        <p style="text-align: center;"> Copyright &copy; MySite.com - All rights reserved</p>
    </footer>
    
