
<div class="container-fluid">
    <div class="row">
        <div class="col-4" id="all">
            <div class="row">
                <div class="col-4">
                    <div id="img">
                        <img src="https://img.icons8.com/ios/344/company.png" alt="icons">
                    </div>
                </div>
                <div class="col-8">
                    <h2>Visit Us:</h2>
                    <p>22/2B, 3rd Floor, Vivina CHS, Super Shopping centre, Opp Andheri Railway Station, Andheri West, Mumbai, Maharashtra</p>
                </div>
            </div>
            
        </div>

        <div class="col-4" id="all">
            <div class="row">
                <div class="col-4">
                    <div id="img">
                        <img src="https://img.icons8.com/ios/344/envelope-dots.png" alt="icons">
                    </div>
                </div>
                <div class="col-8">
                    <h2>Email:</h2>
                    <p>company@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="col-4" id="all">
            <div class="row">
                <div class="col-4">
                    <div id="img">
                        <img src="https://img.icons8.com/windows/344/outgoing-call.png" alt="icons">
                    </div>
                </div>
                <div class="col-8">
                    <h2>Phone:</h2>
                    <p>9876543210</p>
                    <p>9876543210</p>


                </div>
            </div>
        </div>
    </div>

</div>



<div class="contact">
    <div class="c-child">
        <h2 style="font-size: xx-large;">Connect With Us</h2>
    <div>
        <label for="name">Full Name</label><br>
        <input type="text" class="name" placeholder="Enter Your Full Name" required><br><br>
        
        <label for="mn">Mobile No.</label><br>
        <input type="number" class="mn" placeholder="Enter Your Mobile Number" required><br><br>
        
        <label for="mn"></label><br>
        <input type="number" class="mn" placeholder="Enter Your Mobile Number" required><br><br>
        
        <label for="name">Email</label><br>
        <input type="email" class="email" placeholder="Enter Your Email" ><br><br>
        
        <label for="name">Address</label><br>
        <input type="address" class="address" placeholder="Enter Your Address" required><br><br>
        
        <button>Send</button>
    </div>
    </div>
    

</div>